.nav {
	height: 35px;
	width: 910px;
    margin:  0 auto;
    padding: 0;
	background:-moz-linear-gradient(top, #FFF, #BBB);
	background:-webkit-linear-gradient(top, #FFF, #BBB);
	position: relative;
	top:35px;
	z-index:0;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px; 
	box-shadow: 0px 3px 7px #9c9d9c; 
}

.nav .table {
	display: table;
	margin: 0 auto;
}

.nav .select,.nav .current {
	margin: 0;
	padding: 0;
	list-style: none;
	display: table-cell;
	white-space: nowrap;
}

.nav li {
	margin: 0;
	padding: 0;
	height: auto;
	float: left;
}

.nav .select a {
	display: block;
	height: 35px;
	float: left;
	font: 16px bolder;
	font-family: arial;
	padding: 0 30px 0 30px;
	text-decoration: none;
	line-height: 35px;
	white-space: nowrap;
	color: #2b3238;
}

.deco {
	background: url(../../images/DecoVert.png) no-repeat;
	position: absolute;
	left: 760px;
	top: 5px;
}

.deco:hover{
	background: url(../../images/DecoRouge.png) no-repeat;
}

.co {
	background: url(../../images/CoNoir.png) no-repeat;
	position: relative;
	left: 400px;
	top: 5px;
}

.co:hover{
	background: url(../../images/CoVert.png) no-repeat;
}