.P1 { font-size:12pt; font-family:Arial; writing-mode:page; text-align:justify ! important; }
.P2 { font-size:12pt; font-family:Arial; writing-mode:page; text-align:justify ! important; }
.T1 { font-weight:bold; }
.T2 { text-decoration:none ! important; }
.T3 { text-decoration:underline; }
.T4 { text-decoration:underline;
      font-weight:bold;
     }
