

body {
	background: url("../images/fond.jpg") no-repeat top center;
	background-attachment:fixed;
}

div#page {
	width: 900px;
	height-min: 1000px;
}


div#header { 
	position: relative;
	top:-35px;
	margin: 0 0 1em 0;
	padding: 0px 0px;
	background: transparent;
}

div#banniere {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}


div#content input[type="submit"],
div#content input[type="button"] {
	font-weight: bold;
	color: #fff;
	height: 20px;
	background: #fff url(../images/btn.bg.gif) 0 0 repeat-x;
	border-style: none;
	vertical-align: middle;
}


.errors {
	font-weight: bold;
	text-align: center;
	color: #600;
}

.errors ul {
	list-style: none;
}

div#sub {
	width: 215px;
}

div#footer {
	padding: 25px 0;
	margin-top: 2em;
	border-top: 1px solid #c3bbb6;
}

div#footer img.spring {
	float: right;
	box-shadow: 0px 1px 2px #000;
	border-radius: 7px;
	margin-right: 20px;
	margin-bottom: 20px;
}
div#footer img.prolog {

}
