

body {
	background: -moz-radial-gradient(center,#F5F2E9 20% ,#79776D 100%);	
	background-attachment:fixed;
}

div#page {
	width: 850px;
    margin:  0 auto;
    padding: 30px;
	border-radius:20px;
    box-shadow: 0px 0px 15px grey; 
    box-sizing: border-box;
	color: black;
	z-index:1;
	background: -moz-radial-gradient(center,#F5F2E9 20% ,#D4D1CA 100%);	
}

div#header { 
	margin: 0 0 1em 0;
	padding: 0px 0px;
	
}

div#banniere {
	text-align: left;
	margin-left: 21em;
	margin-top: 50px;
	margin-bottom: -33px;
}


div#content input[type="submit"],
div#content input[type="button"] {
	font-weight: bold;
	color: #fff;
	height: 20px;
	background: #fff url(../images/btn.bg.gif) 0 0 repeat-x;
	border-style: none;
	vertical-align: middle;
}


.errors {
	font-weight: bold;
	text-align: center;
	color: #600;
}

.errors ul {
	list-style: none;
}

div#sub {
	width: 215px;
}

div#footer {
	padding: 25px 0;
	margin-top: 2em;
	border-top: 1px solid #c3bbb6;
}

div#footer img.spring {
	float: right;
	box-shadow: 0px 1px 2px #000;
	border-radius: 7px;
	margin-right: 20px;
	margin-bottom: 20px;
}
div#footer img.prolog {

}
