

body {
	background: -moz-radial-gradient(center,#F5F2E9 20% ,#79776D 100%);
	background: -webkit-radial-gradient(center,#F5F2E9 20% ,#79776D 100%);	
	background-attachment:fixed;
}
div{
	margin:10px;
}
div#page {
	width: 850px;
    margin:  0 auto;
    padding: 30px;
    padding-bottom:0px;
	border-radius:20px;
    box-shadow: 0px 0px 15px grey; 
    box-sizing: border-box;
	color: black;
	z-index:1;
	background: -moz-radial-gradient(center,#F5F2E9 20% ,#D4D1CA 100%);
	background: -webkit-radial-gradient(center,#F5F2E9 20% ,#D4D1CA 100%);	
}

div#header { 
	margin: 0 0 1em 0;
	padding: 0px 0px;
	
}

div#banniere {
	text-align: center;
	position:relative;
	right: 380px;
	margin-top: 60px;
	margin-bottom: -33px;
}
div#logolycee {
	text-align: right;
	position:relative;
	bottom:20px;
	left:8px;
}

div#content input[type="submit"],
div#content input[type="button"] {
	font-weight: bold;
	color: #fff;
	height: 20px;
	background: #fff url(../images/btn.bg.gif) 0 0 repeat-x;
	border-style: none;
	vertical-align: middle;
}
.errors {
	font-weight: bold;
	text-align: center;
	color: #600;
}

.errors ul {
	list-style: none;
}

div#sub {
	width: 215px;
}

div#footer {
	margin-top: 1em;
}

div#footer img.spring {
	float: right;
	box-shadow: 0px 1px 2px #000;
	border-radius: 7px;
	margin-right: 20px;
	margin-bottom: 20px;
}
div#footer img.prolog {

}

div#accordion{
	margin: 40px 0px;
}

a{
	color:black;
}

table.listDctap{
	text-align: center;
}

th{
	font-size: 13px;
}

td, th{
	text-align: center;
}

td.Ftext{
	width: 150px;
}

td.Fbutton{
	border: 0px;
}

.creer{
	background: url(../images/IconeCreerDemande.png) no-repeat;	
}

.creer:hover{
	background: url(../images/IconeCreerDemandeHover2.png) no-repeat;
}

.editer{
	background: url(../images/IconeEditerDemande.png) no-repeat;
}

.editer:hover{
	background: url(../images/IconeEditerDemandeHover2.png) no-repeat;
}

.ligne{
	margin-right: 50px;
	margin-left: 50px;
}

.centerButton{
	text-align: center;
}

.searchUser{
	padding-left: 25px;
}
td .bouton{
	min-width: 40px;
}

.buttonModif{
	border-radius:5px;
	background-color: orange;
	color:white;
}

.buttonSuppr{
	border-radius:5px;
	background-color:red;
	color:white;
}

.legend td{
	padding-right:50px;
}
.legend{
	margin-bottom:-20px;
	margin-left:8px;
}

.section label{
	width: 250px;
	float: left;
}
.section label.checkbox{
	width: 70px;
	margin-right: 100px;
}

#loader{
	text-align: center;
	display:none;
}

.isUpdate{
	color:#E38304;
	font-weight: bold;
}

.titre3{
	text-align:center;
	color:#2b3238;
	font-family:Verdana;
	font-size:20px;
	text-shadow: 0.5px 0.5px 1px grey;
	padding-bottom:20px;
	padding-top:20px;
}